<!DOCTYPE html>
<html>
<head>
    <title>HAR Project</title>
</head>
<style>
body {
margin:0px;
padding:0px;
}
#a1 {
letter-spacing:2px;
margin-top:35px;
font-family:Times New Roman;
font-weight:bold;

color:red;
}
#b1 {
margin-left:40px;
letter-spacing:2px;
font-size:30px;
color:#800000;
}
span{
color:black;
}

#i1 {
margin-top:5px;
}
</style>
<body bgcolor="pink">
<img src="https://tcarts.in/images/fist/head.png" width="100%">
   <center> <h1 id="a1">Human Activity Using Machine Learning</h1></center><br>
   
   <h2 id="b1">KNN Model Accuracy: <span>{{ accuracy }}</span></h2>
</body>
</html>
